{% from "evilpedia.njk" import evilpedia %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content="Eleventy">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#b72b2b">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://evilpedia.online/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Evilpedia">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="https://screenshot.cjlm.dev/https%3A%2F%2Fevilpedia.online%2F/opengraph/1:1/_wait:2/">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="evilpedia.online">
    <meta property="twitter:url" content="https://evilpedia.online/">
    <meta name="twitter:title" content="Evilpedia">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="https://screenshot.cjlm.dev/https%3A%2F%2Fevilpedia.online%2F/opengraph/1:1/_wait:2/">

    <meta name="msapplication-TileColor" content="#b72b2b">
    <meta name="theme-color" content="#ffffff">
    <script src="/js/tablesort.min.js"></script>
    <script src="/js/tablesort.number.min.js"></script>
    <script src="/js/init.js" defer></script>
  </head>
  <body>
    <div class="aligning">
      <header>
        <div class="menu-links">
          <a class="logo" hidden href="/">{{ evilpedia('#fff') }}</a>
          <a href="/#episodes" class="menu-episodes">Episodes</a>
          <a href="/#stats" class="menu-stats">Stats</a>
          <a class="about" href="/about">About</a>
        </div>
      </header>
      {{ content | safe }}
    </div>
  </body>
  <footer>
    <div class="footer-container">
      <div class="project">
        <h3>Project</h3>
        <p>
          Made with ✌️ by
          <a href="https://cjlm.ca">Christian</a>
        </p>
        <p>
          Find the source code on 
          <a href="https://github.com/cjlm/evilpedia">Github</a>
        </p>
        <p>
          <a href="https://www.11ty.dev/">#BuiltWithEleventy</a>
        </p>
      </div>
      <div class="podcast">
        <h3>Podcast</h3>
        <p>
          <a href="https://thesonarnetwork.com/evil-men/">Evil Men Website</a>
        </p>
        <p>
          <a href="https://twitter.com/chrislockeworld">Chris Locke</a>
        </p>
        <p>
          <a href="https://twitter.com/mbalazo">Michael Balazo</a>
        </p>
        <p>
          <a href="https://twitter.com/jameshartnett">James Hartnett</a>
        </p>
      </div>
    </div>
    <div class="date">
      <p>Last updated: {{ evilMenFeed.dateUpdated }}</p>
    </div>
  </footer>
</html>
{# {{evilometer | dump}} #}
