{% from "evilpedia.njk" import evilpedia %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content="Eleventy">
    <title>{{ title }}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>😈</text></svg>">
    <meta name="description" content="{{ description }}" />
  </head>
  <body>
    <div class="aligning">
      <header>
        <div class="menu-links">
          <a class="logo" hidden href="/">{{ evilpedia('#fff') }}</a>
          <a href="/#episodes" class="menu-episodes">Episodes</a>
          <a href="/#trivia" class="menu-trivia">Trivia</a>
          <a class="about" href="/about">About</a>
        </div>
      </header>
      {{ content | safe }}
    </div>
  </body>
  <footer>
    <div class="footer-container">
      <div class="project">
        <h3>Project</h3>
        <p>
          Made with 😈 by
          <a href="https://cjlm.ca">Christian</a>.
        </p>
        <p>
          Find the source code on <i class="fa-regular"></i>
          <a href="https://github.com/cjlm/evilpedia">Github</a>.
        </p>
        <p>
          <a href="https://www.11ty.dev/">#BuiltWithEleventy</a>
        </p>
      </div>
      <div class="podcast">
        <h3>Podcast</h3>
        <p>
          <a href="https://thesonarnetwork.com/evil-men/">Evil Men Website</a>
        </p>
        <p>
          <a href="https://twitter.com/chrislockeworld">Chris Locke</a>
        </p>
        <p>
          <a href="https://twitter.com/mbalazo">Michael Balazo</a>
        </p>
        <p>
          <a href="https://twitter.com/jameshartnett">James Hartnett</a>
        </p>
      </div>
    </div>
    <div class="date">
      <p>Last updated: {{ evilMenFeed.dateUpdated }}</p>
    </div>
  </footer>
</html>
{# {{evilometer | dump}} #}