<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <script src="https://kit.fontawesome.com/913bcc60e8.js" crossorigin="anonymous"></script>
</head>
<body>
   <header>
    <a href="/#episodes" class="menu-episodes">Episodes</a>
    <a href="/#trivia" class="menu-trivia">Trivia</a>
    <a class="about" href="/about">About</a>
   </header>
   {{ content | safe }} 
</body>
</html>