$primary: #b72b2b;
$secondary: #ff8788;
$muted: lighten($secondary, 36%);
$grey: grey;

$primary-light: lighten($primary, 50%);
$primary-faint: lighten($primary, 55%);
$secondary-light: lighten($secondary, 20%);
$muted-light: lighten($muted, 1%);

$font-size-text: 1rem;
$font-size-bigger: 1.125rem;
$font-size-smaller: 0.875rem;
$font-size-h1: 3.375rem;
$subtitle-size: 2vw;
$items-width: 1200px;
$text-font: charter, 'Georgia', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', 'Microsoft YaHei Light', sans-serif;
$text-accent: charter, 'Georgia';
$surface: white;
// Mixins
@mixin shadow-h() {
  box-shadow: 3.8px 3.8px 10px rgba(0, 0, 0, 0.06),
    30px 30px 80px rgba(0, 0, 0, 0.12);
}
@mixin shadow() {
  box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.05),
    10px 10px 30px rgba(0, 0, 0, 0.2);
}
@mixin card($bg-color) {
  background-color: $bg-color;
  margin: 10px;
  padding: 10px 20px;
  @include shadow();
  border: 1px solid $bg-color;
  border-radius: 10px;
}
:root {
  --muted: #c0c2ce;
  --inverse-surface: black;
  --inverse-text: white;
  --surface-accent: #eee;
}
html {
  scroll-padding-top: 50px;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

[hidden] {
  display: none !important;
}

.aligning {
  flex: 1;
  padding: 20px;
}

footer {
  padding: 20px;
}
p {
  margin-top: 8px;
  font-size: $font-size-text;
  font-family: $text-font;
}
p + p {
  margin-top: 8px;
}
.aligning,
.sheet {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.aligning {
  justify-content: flex-start;
}
// Tables
table {
  width: 100%;
  margin: 10px;
  border-spacing: 0;
  border-collapse: collapse;
  font-family: $text-font;
  font-size: $font-size-text;
}
.combined-desktop {
  display: block;
}
.combined-mobile {
  display: none;
}
td,
th {
  border-bottom: 1px solid $primary-light;
  padding: 10px;
  text-align: left;
  margin: 0;
  &.rating {
    text-align: center;
  }
}
tr {
  background-color: $surface;
  &:last-of-type > td {
    border-width: 0;
  }
}

.rating-cell {
  min-width: 130px;
  text-align: center;
}

.table-sortable th {
  user-select: none;
  cursor: pointer;
  &::after {
    margin-left: 5px;
  }
  &[aria-sort='ascending'] {
    background: $primary-faint;
    &::after {
      content: '↓';
    }
  }
  &[aria-sort='descending'] {
    background: $primary-faint;
    &::after {
      content: '↑';
    }
  }
}

header {
  width: 100%;
  display: flex;
  z-index: 2;
  justify-content: center;
  position: sticky;
  top: 0;
  .menu-links {
    @include shadow-h();
    background: $primary;
    display: flex;
    font-family: $text-font;
    font-size: $font-size-text;
    justify-content: center;
    max-width: $items-width;
    width: 80%;
    gap: 25px;
    padding: 0 30px;
    border-radius: 10px;
    .about {
      margin-left: auto;
    }
  }
  padding: 10px 0;
  .logo {
    display: inline-flex;
    color: $surface;
    width: 60px;
    animation-duration: 0.1s;
    animation-name: slidein;
  }
  @keyframes slidein {
    from {
      transform: scale(0.8);
    }
    to {
      transform: scale(1);
    }
  }
  a {
    &:hover {
      color: $secondary-light;
    }
    text-decoration: none;
    padding: 10px 0;
    color: $primary-light;
  }
}
.link-cell {
  font-weight: 600;
  a {
    text-decoration: none;
  }
}
@mixin animateFade {
  animation: fadein 0.5s;
}
.rating-no,
.avg-no {
  border-radius: 9999px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  min-width: 4ch;
  justify-content: space-between;
  @include animateFade();
}
.guest {
  font-size: $font-size-smaller;
}
.avg-no {
  border-radius: 3px;
  font-weight: bold;
  min-width: 5ch;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
thead {
  border-width: 2px;
  z-index: 1;
  position: sticky;
  top: 60px;
  background-color: $surface;
  color: $primary;
  th:hover {
    background-color: $muted-light;
  }
}
@mixin icon-center($icon-size) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin sheet {
  max-width: $items-width;
  width: 80%;
  background-color: $surface;
  margin: 10px;
  padding: 10px 30px;
  @include shadow();
  border: 1px solid $surface;
  border-radius: 10px;
}
.sheet {
  @include sheet();
}
a {
  color: $primary;
  &:hover {
    color: $secondary;
  }
}

body {
  background-image: url('/background.svg');
  font-family: $text-font;
}
h2 {
  svg {
    height: 25px;
    display: inline;
  }
  i {
    font-size: 1.4rem;
    color: $primary;
    opacity: 0.8;
    position: relative;
    bottom: 2px;
  }
}
.stats {
  @include sheet();
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 30px;
  h2 {
    color: $secondary;
  }
}
.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-top: 20px;
  gap: 10px;
}
.card-item {
  @include card(white);
  text-align: center;
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
  align-items: center;
  box-shadow: none;
  background-color: $muted-light;
  border-radius: 8px;
  border: 1px solid $secondary-light;
  margin: 0px;
  .icon {
    font-size: 22px;
    color: $secondary;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  &.chart {
    width: 100%;
  }
}
.average {
  width: calc(33% - 6px);
}
.five-stars,
.difference {
  flex-basis: 65%;
}
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .card-container {
    flex-direction: column;
  }
  .sheet,
  .average,
  .card-container {
    width: 100%;
  }
}
.icon {
  @include icon-center(1rem);
  padding-top: 10px;
  h2 {
    margin-top: 6px;
  }
  height: 75px;
}
h1 {
  margin-bottom: 15px;
  font-family: $text-accent;
  font-size: $font-size-h1;
  line-height: 4rem;
  font-weight: 300;
  letter-spacing: 0;
  text-align: center;
  svg {
    margin: auto;
  }
}
h2 {
  line-height: 40px;
  font-size: 32px;
  font-weight: 400;
  color: $primary;
  margin-top: 15px;
}
[role='h2-subtitle'] {
  text-align: center;
  font-family: $text-font;
  line-height: 22px;
  font-size: $font-size-smaller;
  padding: 5px 0;
}
[role='doc-subtitle'] {
  text-align: center;
  font-family: $text-font;
  line-height: 24px;
  size: $subtitle-size;
  font-weight: 400;
}
.header {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 50vw;
}
.card-hl {
  font-weight: 600;
}
.about-page {
  @include sheet();
  h1 {
    margin-top: 20px;
  }
  .about-text {
    padding: 0 50px;
    padding-bottom: 20px;
  }
}
footer {
  flex-direction: column;
  margin-top: 70px;
  background-color: $primary-faint;
  display: flex;
  justify-content: center;
  p,
  a {
    font-size: $font-size-smaller;
    font-family: $text-font;
    text-align: center;
    color: $grey;
    i {
      color: $secondary;
    }
  }
  a {
    text-decoration: underline dotted $grey;
  }
  p {
    line-height: 24px;
  }
  h3 {
    font-family: $text-accent;
    font-size: $font-size-smaller;
    color: darken($grey, 10%);
    text-align: center;
  }
  .podcast p {
    text-align: left;
  }
  .date {
    flex-basis: 100%;
  }
  .footer-container {
    padding: 30px 0;
    gap: 40px;
    justify-content: center;
    align-items: flex-start;
    display: flex;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 2.8rem;
    line-height: 2.6rem;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 0.8rem;
  }
  footer p,
  footer a {
    font-size: 0.6875rem;
    line-height: 18px;
  }
  footer .footer-container {
    gap: 10px;
  }

  header {
    width: 100%;
    .menu-links {
      width: 100%;
      gap: 10px;
      padding: 0 15px;
    }
    a {
      font-size: 0.8rem;
    }
  }
  .card-container {
    flex-direction: row;
    gap: 10px;
    .five-stars,
    .average,
    .difference {
      flex-basis: 100%;
    }
    .average {
      // flex-basis: calc(33% - 5px);
    }
  }
  .sheet,
  .stats,
  .header {
    width: 100%;
    padding: 0 15px;
  }
  .about-page {
    width: 100%;
    padding: 10px 15px;
    .about-text {
      padding: 0;
    }
    p {
      font-size: 1rem;
    }
  }
  .stats {
    padding-bottom: 20px;
  }

  table {
    font-size: 0.6rem;
    td,
    th {
      padding: 5px;
    }
    .combined-desktop {
      display: none;
    }
    .combined-mobile {
      display: block;
    }
  }
  .rating-cell {
    min-width: 0;
  }
}

@font-face {
  font-family: charter;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  src: url('/fonts/charter_regular.woff2') format('woff2');
}
