---
title: Evilpedia
layout: base.njk
description: "Index of all the Evil Men covered on the podcast"
---

{% from "evilpedia.njk" import evilpedia %}

<div class="header">
  <h1>{{ evilpedia() }}</h1>

  <div role="doc-subtitle">
  A fan site for the hit comedy podcast Evil Men. All the scores! All the eps!
  </div>
</div>
<div id="episodes" class="sheet">
  {# <h2>Episodes</h2> #}
  <table class="table-sortable">
    <thead>
      <tr>
        <th>Ep</th>
        <th>Subject</th>
        <th class="rating">Chris</th>
        <th class="rating">Michael</th>
        <th class="rating">James</th>
        <th class="rating">Guest</th>
        <th class="rating">Avg</th>
      </tr>
    </thead>

    <tbody>
      {% block tbody %} {% for eom in evilometer.ratings %}
      {% set feedInfo = eom %}

      {% set ep = evilMenFeed.episodes[eom.ep] %}
      {% set white = '; color: #ffffffe6' %}

      <tr>

        <td class="link-cell"><a href="{{ep.link}}">{{ep.no | safe}}</a></td>
        <td class="link-cell">{{ eom.man or ep.title | safe}}</td>
        <td class="rating-cell">
          <span class="rating-no" style='{{ 'background-color: ' + eom.chrisColor if eom.chris }}{{ white if eom.chris > 6 }}'>{{ eom.chris | rating | safe }}</span>
        </td>
        <td class="rating-cell" >
          <span class="rating-no" style='{{ 'background-color: ' + eom.michaelColor if eom.michael }}{{ white if eom.michael > 6 }}'>{{ eom.michael | rating | safe }}</span>
        </td>
        <td class="rating-cell" >
          <span class="rating-no" style='{{ 'background-color: ' + eom.jamesColor if eom.james }}{{ white if eom.james > 6 }}'>{{eom.james | rating | safe}}</span>
        </td>
        <td class="rating-cell">
          <span class="rating-no">{{eom.guest}}</span>
        </td>
        <td class="rating-cell"><span class="avg-no" style='{{ 'background-color: ' + eom.averageColor if eom.averageColor }}{{ white if eom.avg > 5 }}'>{{eom.avg | round(2) | nan }}</span></td>
      </tr>
      {% endfor %} {% endblock %}
    </tbody>
  </table>
</div>
<div id="trivia" class="trivia">
  <h2>Evil Trivia</h2>
  <p>Fun facts and trivia about the podcast.</p>
  <div class="card-container">
    <div class="card-item five-stars">
      <i class="fa-solid fa-medal"></i>
      <p>{{ evilMenFeed.fiveStars | safe}}</p>
    </div>
    <div class="card-item mike-average">
      <i class="fa-solid fa-glasses"></i>
      <p>{{ evilMenFeed.mikeAvg | safe}}</p>
    </div>
    <div class="card-item joe-average">
      <i class="fa-solid fa-pen-nib"></i>
      <p>{{ evilMenFeed.joeAvg | safe}}</p>
    </div>
    <div class="card-item difference">
      <i class="fa-regular fa-comments"></i>
      <p>{{ evilMenFeed.biggestDiff | safe }}</p>
    </div>
  </div>
</div>


<script src="js/tablesort.min.js"></script>
<script src="js/tablesort.number.min.js"></script>
<script src="js/tablesort.js"></script>
