---
title: Evilpedia
layout: base.njk
description: "Index of all the Evil Men covered on the podcast"
---

{% from "evilpedia.njk" import evilpedia %}

<div class="header">
  <h1>{{ evilpedia() }}</h1>

  <div role="doc-subtitle">
  A fan site for the hit comedy podcast Evil Men. All the scores! All the eps!
  </div>
</div>
<div id="episodes" class="sheet">
  {# <h2>Episodes</h2> #}
  <table class="table-sortable">
    <thead>
      <tr>
        <th>Ep</th>
        <th>Subject</th>
        <th class="rating">Chris</th>
        <th class="rating">Michael</th>
        <th class="rating">James</th>
        <th class="rating">Guest</th>
        <th class="rating">Avg</th>
      </tr>
    </thead>

    <tbody>
      {% block tbody %} {% for ep in evilMenFeed.episodes %}

      {% set white = '; color: #ffffffe6' %}
      {% set number = "P" if ep.no == "patreon" else ep.no %}

      <tr>
        <td class="link-cell"><a href="{{ep.link}}">{{number | safe}}</a></td>
        <td class="link-cell">{{ ep.man or ep.title | safe}}</td>
        <td class="rating-cell">
          <span class="rating-no" style='{{ 'background-color: ' + ep.chrisColor if ep.chris }}{{ white if ep.chris > 6 }}'>{{ ep.chris | rating | safe }}</span>
        </td>
        <td class="rating-cell" >
          <span class="rating-no" style='{{ 'background-color: ' + ep.michaelColor if ep.michael }}{{ white if ep.michael > 6 }}'>{{ ep.michael | rating | safe }}</span>
        </td>
        <td class="rating-cell" >
          <span class="rating-no" style='{{ 'background-color: ' + ep.jamesColor if ep.james }}{{ white if ep.james > 6 }}'>{{ ep.james | rating | safe }}</span>
        </td>
        <td class="rating-cell">
          <span class="rating-no guest">{{ep.guest}}</span>
        </td>
        <td class="rating-cell"><span class="avg-no" style='{{ 'background-color: ' + ep.averageColor if ep.averageColor }}{{ white if ep.avg > 5 }}'>{{ep.avg | round(2) | nan }}</span></td>
      </tr>
      {% endfor %} {% endblock %}
    </tbody>
  </table>
</div>
<div id="trivia" class="trivia">
  <h2>Evil Trivia</h2>
  <div class="card-container">
    <div class="card-item chart">
      <i class="fa-solid fa-medal"></i>
      <p>
      {# {% scatter evilMenFeed.stats.ratings %} #}
      {{ evilMenFeed.charts.scatter | safe }}
      </p>
    </div>
    <div class="card-item average">
      <i class="fa-solid fa-glasses"></i>
      <p>Chris's average rating is {{ evilMenFeed.stats.chris.mean | round(2) }}</p>
    </div>
    <div class="card-item average">
      <i class="fa-solid fa-glasses"></i>
      <p>Michael's average rating is {{ evilMenFeed.stats.michael.mean | round(2) }}</p>
    </div>
    <div class="card-item average">
      <i class="fa-solid fa-glasses"></i>
      <p>James's average rating is {{ evilMenFeed.stats.james.mean | round(2) }}</p>
    </div>
    <div class="card-item chart">
      <i class="fa-regular fa-comments"></i>
      <p>{{ evilMenFeed.biggestDiff | safe }}</p>
    </div>
  </div>
</div>


<script src="js/tablesort.min.js"></script>
<script src="js/tablesort.number.min.js"></script>
<script src="js/tablesort.js"></script>
